integrations/webhooks/multi-assist/post-webhook-flow.json
[{"id":"7e8e1015.4da01","type":"tab","label":"Multi-Assist Post Webhook","disabled":false,"info":""},{"id":"7edbaf65.fb9fc","type":"http in","z":"7e8e1015.4da01","name":"","url":"/multi-assist-post-webhook","method":"post","upload":false,"swaggerDoc":"","x":300,"y":320,"wires":[["70d0b5a8.9197cc","80b737b4.93ebe8"]]},{"id":"2466e415.7e0b7c","type":"http response","z":"7e8e1015.4da01","name":"","statusCode":"","headers":{},"x":1350,"y":780,"wires":[]},{"id":"80b737b4.93ebe8","type":"debug","z":"7e8e1015.4da01","name":"Inbound Posthook Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":140,"wires":[]},{"id":"70d0b5a8.9197cc","type":"function","z":"7e8e1015.4da01","name":"Post Response Router","func":"\n//  The first turn on this session should get back the original session ID so save it here in context for all future needs.\nif (typeof msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_orig_session_id === 'undefined'){\n    node.warn (\"Saving original session ID: \" + msg.payload.payload.context.global.session_id);\n    \n    if (msg.payload.payload.context.skills[\"main skill\"].user_defined === 'undefined')\n        msg.payload.payload.context.skills[\"main skill\"].user_defined = {};\n    \n    context.flow.original_session_id = msg.payload.payload.context.global.session_id; \n    msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_orig_session_id = msg.payload.payload.context.global.session_id;\n}\n\nif ((typeof msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_session_id === 'undefined' || \n     msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_session_id === null) &&\n    typeof msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_url !== 'undefined' && \n    msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_url !== null){\n        \n    //  In this case we received a directive from the primary skill to route to a sub skill so set up to create a session.\n    node.warn (\"Creating a new session at this URL: \" + msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_url);\n    \n    //  Save the original payload so that it can be passed into the msg request API.\n    context.flow.orig_payload = msg.payload.payload;\n    context.flow.base_url = msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_url;\n\n    msg.url =  msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_url + \"/\" + \"?version=2020-09-24\";\n\n    //  No payload is needed when creating a new session.\n    msg.payload = {};\n    \n    return [msg, null];\n}\nelse{\n    //  In this case there is nothing to do so just return the response as is. It's basically a no op.\n    node.warn (\"Post process no switch. Return with no changes.\");\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":500,"y":560,"wires":[["49ab7431.de2ddc"],["2466e415.7e0b7c"]]},{"id":"21e805a3.fe171a","type":"http request","z":"7e8e1015.4da01","name":"Sub Message Request","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1020,"y":500,"wires":[["1c532280.ee2aad","b98c5868.efd198"]]},{"id":"49ab7431.de2ddc","type":"http request","z":"7e8e1015.4da01","name":"Sub Session Create","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":720,"y":340,"wires":[["5aca5065.b7613","3c7326fc.4e757a"]]},{"id":"5aca5065.b7613","type":"function","z":"7e8e1015.4da01","name":"Post Session Create Processor","func":"\n//  If no session_id exist yet for the inbound session ID create a new session.\nif (typeof msg.payload.session_id !== \"undefined\"){\n    context.flow.sub_session_id = msg.payload.session_id;\n    \n    node.warn(\"Sub Skill Session Created Session ID = \" + context.flow.sub_session_id);\n\n    msg.url =  context.flow.base_url + \"/\" + context.flow.sub_session_id + \"/message?version=2020-09-24\";\n    \n    msg.payload = {\"input\":{\"text\":\"\"}};\n    msg.payload.input.options = {\"return_context\":true};\n\n    //  Save context needed to manage multi-skill state\n    msg.payload.context = {};\n    msg.payload.context.skills = {\"main skill\" : {}};\n    msg.payload.context.skills[\"main skill\"].user_defined = {};\n    msg.payload.context.skills[\"main skill\"].user_defined.multi_assist_url = context.flow.orig_payload.context.skills[\"main skill\"].user_defined.multi_assist_url;\n    msg.payload.context.skills[\"main skill\"].user_defined.multi_assist_session_id = context.flow.sub_session_id;\n    \n    //  Save the original user_id\n    msg.payload.user_id = context.flow.orig_payload.user_id;\n\n    node.warn(\"Process Session Create: send message request to this URL = \" + msg.url);\n}\nelse{\n    node.warn(\"Session Create Failed\");\n}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":930,"y":400,"wires":[["21e805a3.fe171a","67781348.7a281c"]]},{"id":"1b7c2211.1ea39e","type":"debug","z":"7e8e1015.4da01","name":"Final Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1380,"y":480,"wires":[]},{"id":"3c7326fc.4e757a","type":"debug","z":"7e8e1015.4da01","name":"Session Create Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":220,"wires":[]},{"id":"1c532280.ee2aad","type":"function","z":"7e8e1015.4da01","name":"Post Message Response Processor","func":"var payload = msg.payload;\n\nmsg.payload = {};\n\npayload.context.global.session_id = context.flow.original_session_id;\n\nmsg.payload.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":600,"wires":[["2466e415.7e0b7c","1b7c2211.1ea39e"]]},{"id":"b98c5868.efd198","type":"debug","z":"7e8e1015.4da01","name":"Sub Skill Message Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1300,"y":360,"wires":[]},{"id":"67781348.7a281c","type":"debug","z":"7e8e1015.4da01","name":"Sub Skill Message Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":280,"wires":[]}]