integrations/webhooks/multi-assist/pre-webhook-flow.json
[{"id":"fec1579.60bafa8","type":"tab","label":"Multi-Assist Pre Webhook","disabled":false,"info":""},{"id":"ea9c4009.0c847","type":"http in","z":"fec1579.60bafa8","name":"","url":"/multi-assist-pre-webhook","method":"post","upload":false,"swaggerDoc":"","x":210,"y":300,"wires":[["552ce939.019d58","537d7087.40ce6"]]},{"id":"a39fcdf5.b2c3f","type":"http response","z":"fec1579.60bafa8","name":"","statusCode":"","headers":{},"x":1090,"y":620,"wires":[]},{"id":"537d7087.40ce6","type":"debug","z":"fec1579.60bafa8","name":"Pre Webhook Inbound Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":200,"wires":[]},{"id":"552ce939.019d58","type":"function","z":"fec1579.60bafa8","name":"Pre Request router","func":"if (typeof msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_session_id === 'undefined' ||\n     msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_session_id === null){\n    //  If there is no multi-skill session ID this request should be routed to the primary assistant. This is a no-op.\n    return [null, msg];\n}\nelse{\n    node.warn (\"Forward request to subskill\");\n\n    //  Save the original payload here so that it can be accessed after the sub skill responds.\n    context.flow.orig_payload = msg.payload.payload;\n\n    //  Route the request to the appropriate sub skill\n    msg.url =  msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_url + \"/\" + msg.payload.payload.context.skills[\"main skill\"].user_defined.multi_assist_session_id + \"/message?version=2020-09-24\";\n    msg.payload = msg.payload.payload;\n    \n    msg.payload.input.options = {\"return_context\":true};\n \n    return [msg, null];\n}","outputs":2,"noerr":0,"x":530,"y":480,"wires":[["7bf9ce3f.f7123"],["a39fcdf5.b2c3f"]]},{"id":"7bf9ce3f.f7123","type":"http request","z":"fec1579.60bafa8","name":"Pre Sub Message Request","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":820,"y":340,"wires":[["21f7c30d.aebe4c","d9baf37e.01baa"]]},{"id":"d9baf37e.01baa","type":"debug","z":"fec1579.60bafa8","name":"Sub Skill Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":240,"wires":[]},{"id":"21f7c30d.aebe4c","type":"function","z":"fec1579.60bafa8","name":"Pre Sub Message Response processor","func":"\nif (typeof msg.payload.context.skills[\"main skill\"].user_defined.multi_assist_no_match === 'undefined'){\n    node.warn (\"Request handled by subskill\");\n    \n    //  In this case the sub skill is still active so simply return the state in the response only with all the context.\n    msg.headers = {\"X-Watson-Assistant-Webhook-Return\" : true};\n    \n    //  Set the session ID in the response back to the original session ID\n    msg.payload.context.global.session_id = msg.payload.context.skills[\"main skill\"].user_defined.multi_assist_orig_session_id;\n    \n    \n    //  If there is no multi-skill session ID this request should be routed to the primary assistant. This is a no-op.\n    return msg;\n}\nelse{\n    //  In this case the sub skill does not find an intent match so the request should be routed to the primary assistant.\n    \n    node.warn (\"No intent found. Switch back to primary skill.\");\n\n    //  First, save the user_defined context returned from the sub skill.\n    context.flow.orig_payload.context.skills[\"main skill\"].user_defined = msg.payload.context.skills[\"main skill\"].user_defined;\n    \n    //  Clear the state to start over at the primary skill.\n    context.flow.orig_payload.context.skills[\"main skill\"].system = {};\n    \n    //  Here we clear the previous multi-skill state from user_defined since we are back to the top.\n    context.flow.orig_payload.context.skills[\"main skill\"].user_defined.multi_assist_no_match = null;\n    context.flow.orig_payload.context.skills[\"main skill\"].user_defined.multi_assist_url = null;\n    context.flow.orig_payload.context.skills[\"main skill\"].user_defined.multi_assist_session_id = null;\n    \n    msg.payload = {};\n    msg.payload.payload = context.flow.orig_payload;\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":1060,"y":460,"wires":[["a39fcdf5.b2c3f","a0296126.d78a2"]]},{"id":"a0296126.d78a2","type":"debug","z":"fec1579.60bafa8","name":"Final Prehook Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":320,"wires":[]}]